@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<p>A sample application demonstrating how to parse a web page and extract summary data. This is intended for educational purposes only.</p>

<p>For more details please review the <a href="https://github.com/laytonc/sienna-badger">documentation</a></p>



